img{
    width: 150px;
}
.escritores{
display: flex;
flex-wrap: wrap;
padding: 25px;
background-color: lightslategray;
}
.escritor{
    width: 50%;
    padding: 25px;
    border: 2px solid black;
    cursor: pointer;
    
}
.row{
    margin: 25px;

}