.cabecera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.planetas {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.planet {
  width: 31%;
  margin: 2px;
  border: 1px solid black;
}

