
    <form [formGroup]="formProfesional" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label>Formacion</label>
            <input type="text" formControlName="formacion" class="form-control">
        </div>
        <div class="form-group col-12">
            <label>Trabajo</label>
            <input type="text" formControlName="trabajo" class="form-control">
        </div>
        <div class="form-group col-12">
            <label>Especialidad</label>
            <input type="text" formControlName="especialidad" class="form-control">
        </div>
       
        <div class="form-group col-12 botonera">
            <input type="button" name="name" class="btn btn-primary col-6" value="Anterior" [routerLink]="['formulario','personal']">
            <input type="submit" name="name" class="btn btn-danger col-6" value="Siguiente"
                [disabled]="!formProfesional.valid">
        </div>
    </form>
