<h1>
  Cabecera
</h1>
 <ul>
  <li><a [routerLink]="['/home']" routerLinkActive="activa">HOme</a></li>
  <li><a [routerLink]="['/info']" routerLinkActive="activa">Info</a></li>
  <li><a [routerLink]="['/contacta']" routerLinkActive="activa">COntacta</a></li>
</ul> 
<!-- para hacer enlaces mas rapidos sin recarga -->

<router-outlet></router-outlet>

<div class="botones">
  <button (click)="onClick('/home')" [disabled]="!btnActivo">Home</button>
  <button (click)="onClick('/info')" [disabled]="!btnActivo">Info</button>
  <button (click)="onClick('/contacta')" [disabled]="!btnActivo">Cotacto</button>
</div>

