<div id="calculadora">
    <div>
        <p>{{resultado}}</p>
    </div>
    <div class="botonera">
        <button (click)="recogerDato($event)">1</button>
        <button (click)="recogerDato($event)">2</button>
        <button (click)="recogerDato($event)">3</button>
        <button (click)="recogerDato($event)">4</button>
        <button (click)="recogerDato($event)">5</button>
        <button (click)="recogerDato($event)">6</button>
        <button (click)="recogerDato($event)">7</button>
        <button (click)="recogerDato($event)">8</button>
        <button (click)="recogerDato($event)">9</button>
        <button (click)="recogerDato($event)">0</button>
        <button (click)="recogerDato($event)" id="suma">+</button>
        <button (click)="recogerDato($event)" id="resta">-</button>
        <button (click)="recogerDato($event)" id="division">/</button>
        <button (click)="recogerDato($event)" id="multiplicación">*</button>
        <button (click)="resolverOperacion()" id="igual">=</button>

    </div>
</div>